headersOrigin = "config"
redirects = []

[functions]

  [functions."*"]

[[plugins]]
origin = "ui"
package = "@netlify/plugin-lighthouse"

  [plugins.inputs]

[build]
publish = "/opt/build/repo"
publishOrigin = "config"

  [build.environment]

  [build.processing]

    [build.processing.css]

    [build.processing.html]

    [build.processing.images]

    [build.processing.js]

  [build.services]

[[headers]]
for = "/*"

  [headers.values]
  Cache-Control = "public, max-age=0, must-revalidate"

[[headers]]
for = "/assets/*"

  [headers.values]
  Cache-Control = "public, max-age=3600"